footer{
  background-color: black;
  min-width: 1440px;
}
.foot-bottom{
  display: flex;
  justify-content: space-between;
}
.foot__git{
  display: flex;
  color: white;
  padding: 50px 20px;
}
.foot__git span{
  margin-right: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}
.foot__center{
  color: white;
  padding: 50px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
}
.foot__last{
  color: white;
  padding: 50px 20px;
}
.foot__last a:hover{
  cursor: pointer;
  opacity: 0.7;
}
.foot__last img{
  margin-right: 30px;  
}