header{
    background:black;    
}
.container{
    padding: 15px;
    margin: 0 auto;
  }
  .logomenu{
    height: 40px;
    width: 50px;
    margin-top: 50%;
  }
  .menu{
    display: flex;
    justify-content: space-between;
  }  
  .menu__btn a, .menu__btn{
    font-family: Inter, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    outline: none;
    border: none;
    margin-right: 30px;    
  }
  @media (max-width: 840px){
    .menu__btn a{
      display: none;
    }
  }
    .menu__btn span{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 0px 9px;
  }  
  .menu__btn button{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    margin-right: 0px;
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
  }
  .logomenu:hover{
    opacity: 0.7;
  }
  .menu__btn a:hover{
    opacity: 0.7;
  }
  .menu__btn button:hover{
    opacity: 0.7;
  }
  .change__theme{
    color: white;
  }
  .moon{
    position: relative;
    top: 15px;
    height: 55px;
    width: 55px;
    color: white;
    padding-top: 5px;
    display: none;
  }
  .sun{
    position: relative;
    top: 15px;
    height: 55px;
    width: 55px;
    color: white;
    padding-top: 5px;
  }
  .burger{
    position: relative;
    top: 15px;
    display: none;
    @media (max-width: 840px){
      display: block;
      }
  }