footer.footer
  .container
    .hero__girl
      img(src="./assets/imgs/contacts.jpg", alt="contacts")
      form.hero__form(action="#")
        h5(text='contact-me') Contact me
        input(type="text" placeholder="Email")
        input(type="number" placeholder="Phone")
        input(type="text" placeholder="Message")
        button(text='send-message') Send message
    .foot-bottom
      .foot__git
        span ©
        span 2022
        span github
      .foot__center
        span Rolling Scopes School
      .foot__last
        a(href="#") 
          img(src="./assets/imgs/vector1.svg", alt="vector1")
        a(href="#")
          img(src="./assets/imgs/vector2.svg", alt="vector2")
        a(href="#")
          img(src="./assets/imgs/vector3.svg", alt="vector3")
        a(href="#")
          img(src="./assets/imgs/vector4.svg", alt="vector4")
