footer.footer
  .container    
    .foot-bottom
      .foot__git
        span ©
        span 2022
        span github
      .foot__center
        span Rolling Scopes School
      .foot__last
        a(href="#") 
          img(src="./assets/imgs/vector1.svg", alt="vector1")
        a(href="#")
          img(src="./assets/imgs/vector2.svg", alt="vector2")
        a(href="#")
          img(src="./assets/imgs/vector3.svg", alt="vector3")
        a(href="#")
          img(src="./assets/imgs/vector4.svg", alt="vector4")
