header.header
        .container
                .menu
                        a(href="#") 
                                img.logomenu(src="./assets/imgs/logophoto.png", alt="photo")
                        .menu___btn
                                a(href="#" text='skills') Skills
                                a(href="#" text='portfolio') Portfolio
                                a(href="#" text='video') Video
                                a(href="#" text='price') Price
                                a(href="#" text='contacts') Contacts
                                button.en en
                                span /
                                button.ru ru
