header.header(id='home')
        .container
                .menu
                        a(href="#") 
                                img.logomenu(src="./assets/imgs/logophoto.png", alt="photo")
                        .menu__btn
                                a(href="#skills" text='skills') Skills
                                a(href="#portfolio" text='portfolio') Portfolio
                                a(href="#video" text='video') Video
                                a(href="#price" text='price') Price
                                a(href="#contacts" text='contacts') Contacts
                                button.en en
                                span /
                                button.ru ru
                                button.switch-theme
                                        img.moon(src="./assets/imgs/moon.png", alt="moon")
                                        img.sun(src="./assets/imgs/sun.png", alt="sun")
                                .navbar
                                        nav.nav-menu
                                                ul.nav-menu__list
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#home" text='home') Home
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#skills" text='skills') Skills
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#portfolio" text='portfolio') Portfolio
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#video" text='video') Video
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#price" text='price') Price
                                                        li.nav-menu__item
                                                                a.nav-menu__link(href="#contacts" text='contacts') Contacts

                                        button.menu-button
                                                span.menu-button__line
                                                span.menu-button__line
                                                span.menu-button__line
                                         


//- <main class="main">
//- 	<div class="navbar">
//- 		<div class="navbar__logo"></div>
//- 		<nav class="nav-menu">
//- 			<ul class="nav-menu__list">
//- 				<li class="nav-menu__item">
//- 					<a class="nav-menu__link" href="#">Home</a>
//- 				</li>
//- 				<li class="nav-menu__item">
//- 					<a class="nav-menu__link" href="#">About</a>
//- 				</li>
//- 				<li class="nav-menu__item">
//- 					<a class="nav-menu__link" href="#">Blog</a>
//- 				</li>
//- 				<li class="nav-menu__item">
//- 					<a class="nav-menu__link" href="#">Price</a>
//- 				</li>
//- 				<li class="nav-menu__item">
//- 					<a class="nav-menu__link" href="#">Contact</a>
//- 				</li>
//- 			</ul>
//- 		</nav>
//- 		<button class="menu-button">
//- 			<span class="menu-button__line"></span>
//- 			<span class="menu-button__line"></span>
//- 			<span class="menu-button__line"></span>
//- 		</button>
//- 	</div>
//- </main>