header.header
        .container
                .menu
                        a(href="#") 
                                img.logomenu(src="./assets/imgs/logophoto.png", alt="photo")
                        .menu__btn
                                a(href="#" text='skills') Skills
                                a(href="#" text='portfolio') Portfolio
                                a(href="#" text='video') Video
                                a(href="#" text='price') Price
                                a(href="#" text='contacts') Contacts
                                button.en en
                                span /
                                button.ru ru
                                button.change__theme
                                        img.moon(src="./assets/imgs/moon.png", alt="moon")
                                        img.sun(src="./assets/imgs/sun.png", alt="sun")
                                button.burger__menu
                                        img.burger(src="./assets/imgs/burger.svg", alt="burger")

