header.header
        .container
                .menu
                        a(href="#") 
                                img.logomenu(src="./assets/imgs/logophoto.png", alt="photo")
                        .menu___btn
                                a(href="#") Skills
                                a(href="#") Portfolio
                                a(href="#") Video
                                a(href="#") Price
                                a(href="#") Contacts
                                button en
                                span /
                                button ru
