main.main
  .container
    .hero
      .hero__tittle      
        h1(text='hero-title') Alexa Rise
        h3(text='hero-text') Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
        button(text='hire') Hire me
      //- .hero__img
        //- img.hero__background(src="./assets/imgs/bg.png", alt="bg")
    .skills(id='skills')
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='skills') Skills
        img.line(src="./assets/imgs/line.svg", alt="line")
      .skills__direction
        .skills__direction-block
          img(src="./assets/imgs/camera.svg", alt="camera")
          h7(text='skill-title-1') Digital photography
          p(text='skill-text-1') High-quality photos in the studio and on the nature
        .skills__direction-block
          img(src="./assets/imgs/video.svg", alt="video")
          h7(text='skill-title-2') Video shooting
          p(text='skill-text-2') Capture your moments so that they always stay with you
        .skills__direction-block
          img(src="./assets/imgs/image.svg", alt="image")
          h7(text='skill-title-3') Retouch
          p(text='skill-text-3') I strive to make photography <br> surpass reality
        .skills__direction-block
          img(src="./assets/imgs/mic.svg", alt="mic")
          h7(text='skill-title-4') Audio
          p(text='skill-text-4') Professional sounds recording for video, advertising, portfolio
    .portfolio(id='portfolio')
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='portfolio') Portfolio
        img.line(src="./assets/imgs/line.svg", alt="line")
      .nav  
        .portfolio__button
          button.autumn.portfolio__btn.activebtn(data-weather='autumn' text='autumn') Autumn
          button.winter.portfolio__btn(data-weather='winter' text='winter') Winter
          button.spring.portfolio__btn(data-weather='spring' text='spring') Spring
          button.summer.portfolio__btn(data-weather='summer' text='summer') Summer        
      .portfolio__photos-grid
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn1.png", alt="autumn1")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter1.jpeg", alt="winter1")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring1.png", alt="spring1")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer1.png", alt="summer1")        
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn2.png", alt="autumn2")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter2.jpeg", alt="winter2")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring2.png", alt="spring2")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer2.jpeg", alt="summer2")          
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn3.png", alt="autumn3")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter3.jpeg", alt="winter3")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring3.png", alt="spring3")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer3.png", alt="summer3")
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn4.png", alt="autumn4")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter4.jpeg", alt="winter4")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring4.png", alt="spring4")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer4.png", alt="summer4")
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn5.png", alt="autumn5")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter5.jpeg", alt="winter5")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring5.png", alt="spring5")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer5.png", alt="summer5")
        .portfolio__item
          img.item__image.autumn(src="./assets/imgs/portfolioautumn6.png", alt="autumn6")
          img.item__image.winter.nonactive(src="./assets/imgs/portfoliowinter6.jpeg", alt="winter6")
          img.item__image.spring.nonactive(src="./assets/imgs/portfoliospring6.png", alt="spring6")
          img.item__image.summer.nonactive(src="./assets/imgs/portfoliosummer6.png", alt="summer6")
    .videos(id='video')
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='video') Video
        img.line(src="./assets/imgs/line.svg", alt="line")
      .videos__hero
        img.videos__background(src="./assets/imgs/video.png", alt="video")
        button 
          img.button__image(src="./assets/imgs/play.svg", alt="play")
    .prices(id='price')
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='price') Prices
        img.line(src="./assets/imgs/line.svg", alt="line")
      .prices__direction
        .prices__direction-block          
          h7 Standart
          p 500$
          ul
            li(text='price-description-1-span-1') One location
            li(text='price-description-1-span-2') 120 photos in color
            li(text='price-description-1-span-3') 12 photos in retouch
            li(text='price-description-1-span-4') Readiness 2-3 weeks
            li(text='price-description-1-span-5') Make up, visage
            button.pricedirect__button(text='order') Order shooting
        .prices__direction-block
          h7 Premium
          p 700$
          ul
            li(text='price-description-2-span-1') One or two locations
            li(text='price-description-2-span-2') 200 photos in color
            li(text='price-description-2-span-3') 20 photos in retouch
            li(text='price-description-2-span-4') Readiness 1-2 weeks
            li(text='price-description-2-span-5') Make up, visage
            button.pricedirect__button(text='order') Order shooting
        .prices__direction-block
          h7 Gold
          p 1000$
          ul
            li(text='price-description-3-span-1') Three locations or more
            li(text='price-description-3-span-2') 300 photos in color
            li(text='price-description-3-span-3') 12 photos in retouch
            li(text='price-description-3-span-4') 50 photos in retouch
            li(text='price-description-3-span-5') Readiness 1 week
            button.pricedirect__button(text='order') Order shooting
    