main.main
  .container
    .hero
      .hero__tittle      
        h1(text='hero-title') Alexa Rise
        h3(text='hero-text') Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
        button(text='hire') Hire me
      //- .hero__img
        //- img.hero__background(src="./assets/imgs/bg.png", alt="bg")
    .skills
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='skills') Skills
        img.line(src="./assets/imgs/line.svg", alt="line")
      .skills__direction
        .skills__direction-block
          img(src="./assets/imgs/camera.svg", alt="camera")
          h7(text='skill-title-1') Digital photography
          p(text='skill-text-1') High-quality photos in the studio and on the nature
        .skills__direction-block
          img(src="./assets/imgs/video.svg", alt="video")
          h7(text='skill-title-2') Video shooting
          p(text='skill-text-2') Capture your moments so that they always stay with you
        .skills__direction-block
          img(src="./assets/imgs/image.svg", alt="image")
          h7(text='skill-title-3') Retouch
          p(text='skill-text-3') I strive to make photography <br> surpass reality
        .skills__direction-block
          img(src="./assets/imgs/mic.svg", alt="mic")
          h7(text='skill-title-4') Audio
          p(text='skill-text-4') Professional sounds recording for video, advertising, portfolio
    .portfolio
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='portfolio') Portfolio
        img.line(src="./assets/imgs/line.svg", alt="line")
      .portfolio__button
        button.portfolio__btn(text='winter') Winter
        button.portfolio__btn(text='spring') Spring
        button.portfolio__btn(text='summer') Summer
        button.portfolio__btn(text='autumn') Autumn
      .portfolio__photos-grid
        .portfolio__item1
          img.autumn__image(src="./assets/imgs/portfolioautumn1.png", alt="autumn1")
        .portfolio__item2
          img.autumn__image(src="./assets/imgs/portfolioautumn2.png", alt="autumn2")
        .portfolio__item3
          img.autumn__image(src="./assets/imgs/portfolioautumn3.png", alt="autumn3")
        .portfolio__item4
          img.autumn__image(src="./assets/imgs/portfolioautumn4.png", alt="autumn4")
        .portfolio__item5
          img.autumn__image(src="./assets/imgs/portfolioautumn5.png", alt="autumn5")
        .portfolio__item6
          img.autumn__image(src="./assets/imgs/portfolioautumn6.png", alt="autumn6")
    .videos
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='video') Video
        img.line(src="./assets/imgs/line.svg", alt="line")
      .videos__hero
        img.videos__background(src="./assets/imgs/video.png", alt="video")
        button 
          img.button__image(src="./assets/imgs/play.svg", alt="play")
    .prices
      .skills-line
        img.line(src="./assets/imgs/line.svg", alt="line")
        span(text='price') Prices
        img.line(src="./assets/imgs/line.svg", alt="line")
      .prices__direction
        .prices__direction-block          
          h7 Standart
          p 500$
          ul
            li(text='price-description-1-span-1') One location
            li(text='price-description-1-span-2') 120 photos in color
            li(text='price-description-1-span-3') 12 photos in retouch
            li(text='price-description-1-span-4') Readiness 2-3 weeks
            li(text='price-description-1-span-5') Make up, visage
            button.pricedirect__button(text='order') Order shooting
        .prices__direction-block
          h7 Premium
          p 700$
          ul
            li(text='price-description-2-span-1') One or two locations
            li(text='price-description-2-span-2') 200 photos in color
            li(text='price-description-2-span-3') 20 photos in retouch
            li(text='price-description-2-span-4') Readiness 1-2 weeks
            li(text='price-description-2-span-5') Make up, visage
            button.pricedirect__button(text='order') Order shooting
        .prices__direction-block
          h7 Gold
          p 1000$
          ul
            li(text='price-description-3-span-1') Three locations or more
            li(text='price-description-3-span-2') 300 photos in color
            li(text='price-description-3-span-3') 12 photos in retouch
            li(text='price-description-3-span-4') 50 photos in retouch
            li(text='price-description-3-span-5') Readiness 1 week
            button.pricedirect__button(text='order') Order shooting
    .hero__girl
      form.hero__form(action="#")
        h5(text='contact-me') Contact me
        input(type="text" placeholder="Email")
        input(type="number" placeholder="Phone")
        input(type="text" placeholder="Message")
        button(text='send-message') Send message