main.main
  .container
    .hero
      .hero___tittle      
        h1(text='hero-title') Alexa Rise
        h3(text='hero-text') Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise
        button(text='hire') Hire me
      .hero___img
        img(src="./assets/imgs/bg.png", alt="bg")
    .skills
      img.line(src="./assets/imgs/line.svg", alt="line")
      span(text='skills') Skills
      .skills__direction
        .skills__direction-block
          img(src="./assets/imgs/camera.svg", alt="camera")
          h7(text='skill-title-1') Digital photography
          p(text='skill-text-1') High-quality photos in the studio and on the nature
        .skills__direction-block
          img(src="./assets/imgs/video.svg", alt="video")
          h7(text) Video shooting
          p Capture your moments so that they always stay with you
        .skills__direction-block
          img(src="./assets/imgs/image.svg", alt="image")
          h7 Retouch
          p I strive to make photography <br> surpass reality
        .skills__direction-block
          img(src="./assets/imgs/mic.svg", alt="mic")
          h7 Audio
          p Professional sounds recording for video, advertising, portfolio
    .portfolio
      img.line(src="./assets/imgs/line.svg", alt="line")
      span Portfolio
      .portfolio__button
        button.portfolio__btn Winter
        button.portfolio__btn Spring
        button.portfolio__btn Summer
        button.portfolio__btn Autumn
      .portfolio__photos-grid
        .portfolio__item1
          img(src="./assets/imgs/portfolioautumn1.png", alt="autumn1")
        .portfolio__item2
          img(src="./assets/imgs/portfolioautumn2.png", alt="autumn2")
        .portfolio__item3
          img(src="./assets/imgs/portfolioautumn3.png", alt="autumn3")
        .portfolio__item4
          img(src="./assets/imgs/portfolioautumn4.png", alt="autumn4")
        .portfolio__item5
          img(src="./assets/imgs/portfolioautumn5.png", alt="autumn5")
        .portfolio__item6
          img(src="./assets/imgs/portfolioautumn6.png", alt="autumn6")
    .videos
      img.line(src="./assets/imgs/line.svg", alt="line")
      span Video
      .videos__hero
        img(src="./assets/imgs/video.png", alt="video")
        button 
          img(src="./assets/imgs/play.svg", alt="play")
    .prices 
      img.line(src="./assets/imgs/line.svg", alt="line")
      span Price
      .prices__direction
        .prices__direction-block          
          h7 Standart
          p 500$
          ul
            li One location
            li 120 photos in color
            li 12 photos in retouch
            li Readiness 2-3 weeks
            li Make up, visage
            button Order shooting
        .prices__direction-block
          h7 Premium
          p 700$
          ul
            li One or two locations
            li 200 photos in color
            li 20 photos in retouch
            li Readiness 1-2 weeks
            li Make up, visage
            button Order shooting
        .prices__direction-block
          h7 Gold
          p 1000$
          ul
            li Three locations or more
            li 300 photos in color
            li 12 photos in retouch
            li 50 photos in retouch
            li Readiness 1 week
            button Order shooting
        