extends layout/layout.pug
block header
  include ./components/header       
block main
  include ./components/main
block footer
  include ./components/footer
block script
  include ../assets/js/app.js